<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Tutorial Sample Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="css/main.js"></script>

</head>
<body>
  <!-- <div class="overlay"></div> -->

    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <header class="page-header header container-fluid">

      <div class="description">
        <h1>Number of avalible laundry machines in College Nine</h1>
      </div>
      <table style="width:100%" bgcolor="#ccccff">
        <tr>
          <th>Laundry Room</th>
          <th>Washers</th>
          <th>Dryers</th>
        </tr>
        {{range .}}
        {{if eq .RoomNum "NineTenApt"}}
        <tr>
          <!-- NEED TO DYNAMICALLY CREATE A TABLE IN ORDER TO FILL IN SPACES -->
          <!-- I need to figure out how to use templates effectively in GO -->
          <!-- Also need to figure out how to get bootstrap front end to work -->
          <td>College Nine/Ten Apartments</td>
          <td>{{.Washer}}</td>
          <td>{{.Dryer}}</td>
        </tr>
        {{end}}
        {{end}}
        {{range .}}
        {{if eq .RoomNum "ILCApt"}}
        <tr>
          <td>ILC Apartments</td>
          <td>{{ .Washer }}</td>
          <td>{{ .Dryer }}</td>
        </tr>
        {{end}}
        {{end}}
      </table>
    </header>

  
      

</body>
</html>